html.dark {
  // background colors
  --c-bg: #192830;
}

:root, html.dark {
  // brand colors
  --c-brand: #EFAB3E;
  --c-brand-light: #EFAB3E;
  --c-tip: #EFAB3E;

  --c-warning: #3584af;
  --c-warning-bg: rgba(53, 138, 175, 0.13);
  --c-warning-title: --c-text;
  --c-warning-text: --c-text;

}

main img, main video {
  margin-bottom: 10px;
  display: block;
  max-height: 65vh;
  border-radius: 4px;
}

details img {
  margin-top: 10px;
}

details video {
  margin: 10px 0;
}

details .custom-container.tip {
  padding-bottom: 20px;
}

.custom-container.tip .custom-container-title::after {
  float: right;
  font-size: 2em;
  content: '💡';
}


.custom-container.warning .custom-container-title::after {
  float: right;
  font-size: 2em;
  content: '✨️';
}

video {
  width: 100%;
  aspect-ratio: 16/9;
}

.action-button {
  color: var(--c-brand);
  background-color: var(--c-bg);
  border-color: var(--c-brand);
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.8rem 1.6rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  transition: background-color var(--t-color);
  box-sizing: border-box;
  text-decoration: none;
  margin-right: 10px;
}

.action-button.secondary:hover {
  filter: brightness(0.9);
}

a.action-button:not(.disabled):hover, .action-button.secondary {
  background: var(--c-brand);
  color: var(--c-bg);
}

a.action-button:hover {
  text-decoration: none;
}

.action-button.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: gray;
  border-color: gray;
  opacity: .5;
}

.home .hero img {
  max-height: 50vh;
}


@media print {
  .page .theme-default-content {
    max-width: 100%;
  }
  .page {
    padding: 0;
  }
  .sidebar, .navbar, .page-nav, .no-print, .no-print * {
    display: none !important;
  }
}


#schnitt img {
  display: inline-block;
  margin-right: 10px;
  max-height: 70vh;
}

/*
span#schnitt p:has(img)::before {
  display: none;
  top: 3vh;
  position: relative;
  z-index: 88;
  content: "";
  display: block;
  height: 3vh;
  width: 100%;
  background: var(--c-bg);
} */

/* on phones, make the sidebar full width */
@media screen and (max-width: 768px) {
  #schnitt img {
    width: 100%;
    max-height: none;
    margin: auto;
  }
}

.caption {
  background: #0004;
  color: #fffe;
  position: absolute;
  z-index: 2;
  padding: 0 10px;
  display:inline-block;
  font-size: 15px;
  margin-top: -35px;
  border-radius: 0 4px 0 4px;
}