html.dark {
  // background colors
  --c-bg: #192830;
}

:root, html.dark {
  // brand colors
  --c-brand: #EFAB3E;
  --c-brand-light: #EFAB3E;
  --c-tip: #EFAB3E;

  --c-warning: #3584af;
  --c-warning-bg: rgba(53, 138, 175, 0.13);
  --c-warning-title: --c-text;
  --c-warning-text: --c-text;

}

main img {
  margin-bottom: 10px;
  display: block;
  max-height: 50vh;
  border-radius: 3px;
}

details img {
  margin-top: 10px;
}
  details .custom-container.tip {
  padding-bottom: 20px;
}

details .custom-container.tip .custom-container-title::after {
  float: right;
  font-size: 2em;
  content: '💡';
}


.custom-container.warning .custom-container-title::after {
  float: right;
  font-size: 2em;
  content: '✨️';
}